
.sticky-side-bar{
	position: fixed;
    height: 100%;
    z-index: 1;
    background: #111;
    top: 0;
    left: 0;
    overflow-x: hidden;
   
}
.logo-icon{
	height: 51px;
    margin-top: 0;
    display: block !important;
}
.logo-icon a{
	display:block;
	text-align:center;
	text-decoration: none;
}
.logo-icon a {
    font-size: 2em;
    color:#9E9E9E;
    margin-top: 9px;
	   font-family: 'MavenPro-Regular';
	font-weight:700;
}
.logo-icon a:hover{
	color:#fff;
}
.custom-nav>li {
    position: relative;
    display: block;
}
.nav-stacked{
	margin-top: 1px;
    margin-left: 0;
}
.custom-nav{
    padding-left: 0;
	margin: 26px 0 20px 0;
	background: #000;
}

.custom-nav > li > a {
    position: relative;
    display: block;
    color:#C8C8C8;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    cursor: pointer;
    outline: none;
}

.custom-nav > li > a:hover,
.custom-nav > li > a:active {
    color:#EA57A3;
	background-color:#292929;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.custom-nav > li.active > a,
.custom-nav > li.active > a:hover,
.custom-nav > li.active > a:focus {
    background-color: #111;
    color:#EA57A3;
}
